@import '~bootstrap/scss/bootstrap';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

html {
	box-sizing: border-box;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

button:focus {
	outline: none;
}

.image-gallery-slide.center {
	cursor: default;
}
